<!doctype html>
<html>
  <head>
    <title>CrowdSource</title>
  </head>
  <body>
    <div id='poll-id' style='display: none;'><%= pollId %></div>
    <div id='admin-id' style='display: none;'><%= adminId %></div>
    <div id='poll-open' style='display: none;'><%= poll.pollOpen %></div>
    <div id='poll-end-time' style='display: none;'><%= poll.endTime %></div>
    <div id='connections'></div>
    <div id='status-message'></div><br /><br />
    <div id='poll-description'><%= poll.description %></div>
    <div id='choices'>
      <button class='vote-button' name='A'>A: <%= poll.optionA %></button>
      <button class='vote-button' name='B'>B: <%= poll.optionB %></button>
      <button class='vote-button' name='C'>C: <%= poll.optionC %></button>
      <button class='vote-button' name='D'>D: <%= poll.optionD %></button>
    </div>
    <button id='show-results-button' name='resultsOnly'>Show Results Only</button>
    <button id='close-poll-button'>CLOSE POLL NOW</button><br /><br />
    <div id='vote-message'>Please vote to see the results below, or click 'Show Results Only'!</div><br />
    <div id='all-votes'>
      <%= poll.optionA %>
      <div id='a-votes'></div>
      <%= poll.optionB %>
      <div id='b-votes'></div>
      <%= poll.optionC %>
      <div id='c-votes'></div>
      <%= poll.optionD %>
      <div id='d-votes'></div>
    </div>
    <div id='vote-confirm'></div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/client.js'></script>
  </body>
</html>
